/* 顶部
---------------------------------------------------------------- */
.top{
   height:30px;
   background-color:#f3f3f3;
}


/* 头部搜索
---------------------------------------------------------------- */
.header{
  height: 110px;
  background-color:#fff;
}
.header .log{
  
}

/* 焦点
---------------------------------------------------------------- */
.focus{
  height: 440px;
  background-color: blue;    
}

/* 热销
---------------------------------------------------------------- */
.best{
  height:300px;
  background-color: chartreuse;
}

/* 楼层
---------------------------------------------------------------- */
.floor{
  height:720px;
  background-color: darkcyan;
}

/* 底部导航
---------------------------------------------------------------- */
.bottom{
  height:248px;
  background-color:#2f2f2f;
}
